# Data Science Tools and Ecosystem

## Author
Jared Maugeri

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List Tools used in Data Science
- Practice simple arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
| MySQL |
| Hadoop File System |
| Apache SparkSQL |
| TenserFlow service |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335